body{
    font-family: 'Roboto';
    margin: 0;
}

a{
    text-decoration: none;
}

.layout{
    padding: 1rem;
    background: #e5e5e5;
}

.layout__grid{
    position: relative;
}

.p-inputtext{
    width: 100%;
}

.p-field{
    margin-bottom: 1rem;
}
.p-invalid .p-inputtext {
    border-color: var(--p-red-500);
}

.p-error {
    color: var(--p-red-500);
}

.badge{
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
}