
body{
    font-family: 'Roboto';
    margin: 0;
}

h1, h2{
    margin: 0;
    color: #334155;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.layout{
    padding: 1rem;
    background-color: #f4f2ee;
    height: 100vh;
}

.layout__grid{
    position: relative;
}

.p-inputtext{
    width: 100%;
}

.p-field{
    margin-bottom: 1rem;
}
.p-invalid .p-inputtext {
    border-color: var(--p-red-500);
}

.p-error {
    color: var(--p-red-500);
}

.badge{
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.p-breadcrumb{
    background-color: transparent !important;
}

.p-breadcrumb-item-link span{
    color: var(--p-breadcrumb-item-color) !important;
}

.p-breadcrumb-item:last-child{
    font-weight: bold;
}